h1 {
  border: 2px solid blue;
  border-radius: 25px;
  border-style: outset;
  text-align: center;
  color: red;
  background-color: cyan;
  
}
h2 {
  border: 2px solid gray;
  border-radius: 25px;
  text-align: center;
  color: yellow;
  background-color: cyan;
}
